/*

=========================================================
* Neumorphism UI - v1.0.0
=========================================================

* Product Page: https://themesberg.com/product/ui-kits/neumorphism-ui
* Copyright 2020 Themesberg MIT LICENSE (https://www.themesberg.com/licensing#mit)

* Coded by https://themesberg.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

*/

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

// Bootstrap mixins and functions
@import "bootstrap/mixins";
@import "bootstrap/functions";

// Change variables here
@import "neumorphism/variables";

// Bootstrap
@import "bootstrap/bootstrap";

// Vendor
@import "neumorphism/vendor";

// mixins & functions
@import "neumorphism/mixins";
@import "neumorphism/functions";

// Utilities
@import "neumorphism/reboot";
@import "neumorphism/utilities";

// Layout
@import "neumorphism/layout";

// Components
@import "neumorphism/components";

// write your custom styles here!


html {
  overflow-x: hidden;
}

html, .intro-bg {
  background-color:#121212;
}

.bgtoblack {
  
  background: linear-gradient(180deg, #e6e7ee, #000000 );
  }

.text-spotify {
  color: #1db954;
}


.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.event-rec-img, .leads {
    flex: 0 0 auto;
    margin: 0 8px;
    width: 50%;
  }

  .columns
{   
    -moz-column-width: 11.5em; /* Firefox */
    -webkit-column-width: 11.5em; /* webkit, Safari, Chrome */
    column-width: 20.5em;
}
/*remove standard list and bullet formatting from ul*/
.columns ul
{
   // margin: 0;
    //padding: 0;
    list-style-type: none;
}
/* correct webkit/chrome uneven margin on the first column*/
.columns ul li:first-child
{
    margin-top:0px;
}

  .recommendations ul li li {
    font-weight: 300 !important;
  }

  .flyer {
    flex: 0 0 auto;
    width: calc((100% - 60px)/3);
    margin: 10px;
  }

  .datesnav a, .datesnav span {
    padding: 20px;
  }

  /* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.column img {
  margin-top: 12px;
}

.mason-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.mason-wrapper img{
  flex-grow: 1;
  width: 33%;
  height: 100px;
}


.vl {
  border-left: 6px solid yellow;
  height: 30px;
  margin-top: 10px;
}