$primary: black;
$danger: rgba(158, 6, 6, 0.589);
$light: #999999;
$dark: #111111;
@import "~bootstrap/scss/bootstrap";


html {
    overflow-x: hidden;
  }
  
  html, .intro-bg {
    background-color: $primary;
  }
  
  .bgtoblack {
    
    background: linear-gradient(180deg, #e6e7ee, #000000 );
    }
  
  .text-spotify {
    color: #1db954;
  }
  
  
  .scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .event-rec-img, .leads {
      flex: 0 0 auto;
      margin: 0px;
      width: 40%;
    }
  
    .flyer {
      flex: 0 0 auto;
      width: calc((100% - 60px)/3);
      margin: 10px;
    }
  
    .datesnav a, .datesnav span {
      padding: 20px;
    }
  

  
  .test {
    border-radius: 0px;
background: linear-gradient(145deg, #2e0000, #370000);
box-shadow:  5px 5px 12px #140000,
             -5px -5px 12px #520000;
  }
.flyer-link {
  flex: 0 0 auto;
  width: calc((100% - 80px)/4);
      margin: 10px;
}

.mw-60ch {
  max-width: 60ch;
}

.likes {
  ul {
  
  }
  li {
    display: inline-block;
  }
}

::-webkit-input-placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

.spotifyicon {
  font-size: 16px;
  height: 16px;
  width: 16px;
  fill: $danger;
}

.markedbutton {
  line-height: 16px;
}

.reflection {
  max-height: 50vh;
}