
// $primary: rgba(158, 6, 6, 0.589);

$primary: #FF0000;
$secondary:green;
$info: blue;
$light: #999999;
$dark: #111111;
@import "~bootstrap/scss/bootstrap";

html {
    overflow-x: hidden;
    background: black;
  }

  .event-rec-img, .leads {
      flex: 0 0 auto;
      margin: 0px;
      width: 40%;
    }
  
    .flyer {
      flex: 0 0 auto;
      width: calc((100% - 60px)/3);
      margin: 10px;
    }

.flyer-link {
  flex: 0 0 auto;
  width: calc((100% - 80px)/4);
      margin: 10px;
}

.markedbutton {
  line-height: 16px;
}

ol {
  list-style-type: decimal-leading-zero;
}
  
  .scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

.primary-nav {
  border-top: 1px solid #ffffff10;
}

.dates-nav {
  border-bottom: 1px solid #ffffff10;
}

.vr {
  color: red;
  width: 2px;
}

.nav-active {
  color: $primary!important;
  border-color: $primary !important;
  // margin-bottom: 10px;
}