@tailwind base;
@tailwind components;
@tailwind utilities;

body.dark {
  --primary: red;
  --background: black;
}

body.light {
  --primary: rgba(0, 0, 0, 0.8);
  --background: rgba(255, 255, 255, 1);
}

:root {
}

.neon-button {
  font-size: 1.75rem;

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--primary);
  border: var(--primary) 0.0625em solid;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--primary), 0 0 0.5em 0 var(--primary);
}

.border {
  color: var(--primary);
  border: var(--primary) 0.0625em solid;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--primary), 0 0 0.5em 0 var(--primary);
}
