@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Arial, sans-serif;
  }
}

html {
  --primary: white;
  --background: black;
  background-color: black;
}

.prose {
  max-width: 60ch;
}
