@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --primary: red;
  --secondary: white;
  --background: black;
}

.light {
  --primary: red;
  --secondary: black;
  --background: white;
}

html {
  background-color: black;
}

.neon-button {
  color: var(--primary);
  /* text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.2), 0 0 0.25em currentColor; */
  box-shadow: inset 0 0 0.5em 0 var(--primary), 0 0 0.5em 0 var(--primary);
}

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: var(--primary);
}

.prose {
  max-width: 60ch;
}
