<div class="section  @@classes section-lg">
    <div class="container">
        <!-- Title -->
        <div class="row">
            <div class="col text-center">
                <div class="mb-5">
                    <h2 class="h2 mb-4">Self-Imposed Rules:</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-7">
                <!--Accordion-->
                <div class="accordion shadow-soft rounded" id="accordionExample1">
                    <div class="card card-sm card-body bg-primary border-light mb-0">
                        <a href="#panel-1" data-target="#panel-1" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                            <span class="h6 mb-0 font-weight-bold">I will share every event that comes my way without discrimination.</span>
                            <span class="icon"><span class="fas fa-plus"></span></span>
                        </a>
                        <div class="collapse" id="panel-1">
                            <div class="pt-3">
                                <p class="mb-0">
                                    The goal is to share as many underground events with as many people as people. Even if I personally don't like a particular 
                                    venue, event, or organization, I will share the event with the rest of the community. Everyone should be able to 
                                    make their own opinions, judgements, and choices. As a self-proclaimed semi-professional event-sharer I can't go against that.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card card-sm card-body bg-primary border-light mb-0">
                        <a href="#panel-2" data-target="#panel-2" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                            <span class="h6 mb-0 font-weight-bold">I will never accept any compensation for sharing or recommending events.</span>
                            <span class="icon"><span class="fas fa-plus"></span></span>
                        </a>
                        <div class="collapse" id="panel-2">
                            <div class="pt-3">
                                <p class="mb-0">
                                    All events I see will get shared for free. I only hope people will return the courtesy and share this project as well. More eyes, more leads, 
                                more events, more options for everyone. Everyone wins when there's fewer barriers to information.</p>
                                <p>I keep a seperate list of events that I am personally looking forward to based on my tastes which are completely subjective.
                                    I like dark techno, experimental, and "unique" events. There's a few people that appreciate that and count on me for that list 
                                    so I will continue to share my personal S List of events alongside everything else.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card card-sm card-body bg-primary border-light">
                        <a href="#panel-3" data-target="#panel-3" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                            <span class="h6 mb-0 font-weight-bold">I will always be open to suggestions, feedback, and criticism.</span>
                            <span class="icon"><span class="fas fa-plus"></span></span>
                        </a>
                        <div class="collapse" id="panel-3">
                            <div class="pt-3">
                                <p class="mb-0">
                                    The biggest reason why the S List community grew is because of feedback and advice from the local community. Up until the previous week every 
                                single design, layout, and operational decision has been voted on by the communnity. Even the colors I use and where I sort the events has been voted on. 
                            I appreciate the nuanced opinions and feedback and I will continue to rely on the community for that.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Accordion-->
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="mt-3">
                    <p>Let's share differently.</p>
                </div>
            </div>
        </div>
    </div>
</div>