<footer class="d-flex pb-5 pt-6 pt-md-7 border-top border-light @@classes" id="footer">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="mb-3">
                    <span class="display-1">🙌🙏🙌</span>
                </div>
                <p>names and reasons<br>coming soon</p>
            </div>
        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col">
            <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                <p class="font-weight-normal font-small mb-0">Copyright © 
                    <span class="current-year">2021</span>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
    
</footer>