<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
<title>@@title</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="@@title">
<meta name="author" content="S List">

<!--  Social tags -->
<meta name="keywords" content="">
<meta name="description" content="S List of underground music events in CDMX and NYC.">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="96x96" href="../assets/img/favicon/favicon96.png">
<link rel="icon" type="image/png" sizes="96x96" href="../assets/img/favicon/favicon96.png">



<!-- Fontawesome -->
<link type="text/css" href="@@path/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Pixel CSS -->
<link type="text/css" href="@@path/css/neumorphism.css" rel="stylesheet">

<!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
@@if (environment === 'production') {
    @@include('./_analytics.html')
}