<div class="section section-lg pt-0 @@classes materials">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="card bg-primary shadow-soft border-light shadow-inset mb-6">
                    <div class="card-body px-5 py-5 text-center text-md-left">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <h2 class="mb-3">Advertising materials</h2>
                                <p class="mb-0">
                                    I am looking to experiment with physical advertising. If you can directly supply promotional 
                                    materials, please message me on social media or email.
                                </p>
                            </div>
                            
                            <div class="col-12 col-md-6 mt-4 mt-md-0">
                                <ul class="text-md-left">
                                    <li>t-shirts, masks, hats, etc.</li>
                                    <li>banners, flyers, stickers, "business" cards</li>
                                    <li>a volunteer's forehead to tattoo</li>
                                </ul>
                                <a href="https://www.instagram.com/sli.stcdmx/" class="btn btn-primary mx-3">
                                    <span class="mr-1">
                                        <span class="fab fa-facebook-messenger"></span>
                                    </span>
                                    social media
                                </a>
                                <a href="mailto:s@sli.st" class="btn btn-primary mx-3">
                                    <span class="mr-1">
                                        <span class="fas fa-paper-plane"></span>
                                    </span>
                                    s@sli.st
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
