<header class="header-global">
    <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom @@classes">
        <div class="container position-relative">
            <a class="navbar-brand shadow-soft py-2 px-3 rounded mr-lg-4" href="@@path/index.html">
                S LI.ST
            </a>
            <a class=" shadow-soft py-2 px-3 rounded mr-lg-4 display-5" href="#footer">
                🙌🙏🙌
            </a>
            
            <!-- <a class="shadow-soft py-2 px-3 rounded  mr-lg-4 display-5 hearts" href="@@path/index.html">
                <i class="fas fa-heart"></i> <i class="fas fa-heart"></i> <i class="fas fa-heart"></i>
            </a> -->
            
        </div>
    </nav>
</header>