<section class="section section-lg pt-0 @@classes">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card bg-primary shadow-soft shadow-inset border-light p-4">
                    <div class="row">
                        <div class="col-12 col-lg-4 px-md-0 mb-4 mb-lg-0">
                            <div class="card-body text-center bg-primary py-5">
                                <div class="icon icon-shape shadow-inset border-light rounded-circle mb-3">
                                    <span class="fas fa-drum-steelpan"></span>
                                </div>
                                <!-- Heading -->
                                <h2 class="h5 mr-2">
                                    All genres
                                </h2>
                                <!-- Text -->
                                <p class="mb-0">From booty-bumping perreo to modern jazz. Tulum house to sick-nasty-scary-angry-dark-techno. I find it all.</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 px-md-0 mb-4 mb-lg-0">
                            <div class="card-body text-center bg-primary py-5">
                                <div class="icon icon-shape shadow-inset border-light rounded-circle mb-3">
                                    <span class="fas fa-dungeon"></span>
                                </div>
                                <!-- Heading -->
                                <h2 class="h5 mr-2">
                                    Rooftops, raves, galleries, etc.
                                </h2>
                                <!-- Text -->
                                <p class="mb-0">Art galleries with open bars. Basements with sweaty walls. Rooftops with tacos and sunsets. My pants. And so much more.</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 px-md-0">
                            <div class="card-body text-center bg-primary py-5">
                                <div class="icon icon-shape shadow-inset border-light rounded-circle mb-3">
                                    <span class="fas fa-dumpster-fire"></span>
                                </div>
                                <!-- Heading -->
                                <h2 class="h5 mr-2">
                                    My S List
                                </h2>
                                <!-- Text -->
                                <p class="mb-0">I go to a lot of events. Good, ugly, obscure, life changing, life threatening, all sorts of events. My tastes are refined-er. Trust.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>