<div class="section section-lg pt-0 @@classes perks">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="card bg-primary shadow-soft border-light shadow-inset mb-6">
                    <div class="card-body px-5 py-5 text-center text-md-left">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-md-6">
                                <h2 class="mb-3">Perks for the community</h2>
                                <p class="mb-0">
                                    Help me build engagement for both of our projects. Make some lucky members of the S List community feel special. Give them more reasons to stick around. 
                                </p>
                            </div>
                            <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-left">
                                <ul>
                                    <li>single/group discounts</li>
                                    <li>free entry/tickets</li>
                                    <li>drinks with entry deals</li>
                                    <li>raffles</li>
                                    <li>lifetime rave pass?</li>
                                    <li>open bar?</li>
                                    <li>recreational drugs</li>
                                    <li>a cigarette?</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>