<div class="section section-lg pt-0 @@classes">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="card bg-primary shadow-soft border-light shadow-inset mb-6">
                    <div class="card-body px-md-5 py-5 text-md-left">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <h2 class="mb-3">Send leads!</h2>
                                <p class="mb-0">
                                    What's an event sharing project without events? Please send flyers, screenshots, post-its, 
                                    voice recordings, videos, set times etc.- anything event related.
                                </p>
                            </div>
                            <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right">
                                <a href="https://www.instagram.com/sli.stcdmx/" class="btn btn-primary mx-2 mx-md-3">
                                    <span class="mr-1">
                                        <span class="fab fa-facebook-messenger"></span>
                                    </span>
                                    social media
                                </a>
                                <a href="mailto:s@sli.st" class="btn btn-primary mx-2 mx-md-3">
                                    <span class="mr-1">
                                        <span class="fas fa-paper-plane"></span>
                                    </span>
                                    s@sli.st
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>