<div class="section section-lg pt-0 @@classes">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="card bg-primary shadow-soft border-light shadow-inset mb-6">
                    <div class="card-body px-md-5 py-5 text-md-left">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <h2 class="mb-3">Share the S List</h2>
                                <p class="mb-0">
                                    Please share this website and/or S List social media with like-minded friends. Here are some promotional 
                                    materials for Instagram stories and posts. Tag S List!!!
                                </p>
                            </div>
                            <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right ">
                                <div class="d-flex flex-column"></div>
                                <a href="#" class="btn btn-primary my-3 mx-2 mx-md-3">
                                    <span class="mr-1">
                                        <span class="fas fa-file-video"></span>
                                    </span>
                                    Story Flyer
                                </a>
                                <a href="#" class="btn btn-primary my-3 mx-2 mx-md-3">
                                    <span class="mr-1">
                                        <span class="fas fa-file-image"></span>
                                    </span>
                                    Post Flyer
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>