<section class="section section-lg overflow-hidden @@classes ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <h2 class="h1 font-weight-light mb-3">Want to Support the S List?</h2>
                <p class="lead mb-4">No matter what type of raver you are, there are many ways to support this project. The following are a few ideas:</p>
            </div>
            <div class="col-12 col-lg-4">
                <div class="github-big-icon">
                    <span class="fas fa-hearts"></span>
                </div>
            </div>
        </div>

    </div>
</section>